.modal {
  max-height: none;
}

.modalContainer {
  float: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  align-items: center;
  flex-flow: column;
  height: 175px;
  width: 175px;
}

.contentHeader {
  font-size: 24px;
  margin: 0;
}

.contentHr {
  width: 100%;
  margin-top: 0;
}

.content {
  font-size: 14px;
  margin-top: 0;
}

.creditDetails {
  font-size: 12px;
}

.creditOptionsDropdown span > a, .creditOptionsDropdown > a {
  background-color: #36b7ea;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

.creditOptionsDropdown span .dropdown-content {
  width: 200px !important;
  top: 0px !important;
  /*left: 294px !important;*/
  padding: 10px 0;
}

.creditOptionsDropdown span .dropdown-content li > a {
  padding: 10px 10px;
  line-height: normal;
}

.creditOptionsDropdown {
  margin: 25px 0 10px 0;
  line-height: normal;
}

.creditOptionsAngleIcon {
  height: inherit;
  line-height: normal;
}
