.modal {
  max-height: none;
  width: 50%;
  overflow: visible;
}

.modal-footer {
  display: none;
}

.modalContainer, #purchaseModal, #billingModal, .contentImage {
  float: none;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.contentImage {
  height: 175px;
  width: 175px;
}

.contentHeader {
  font-size: 24px;
  margin: 0;
}

.content {
  font-size: 14px;
  margin-top: 0;
}

.creditDetails {
  font-size: 12px;
}

.creditOptionsDropdown {
  margin: 25px 0 10px 0;
  line-height: normal;
}

.creditOptionsDropdown span > a, .creditOptionsDropdown > a {
  background-color: #36b7ea;
  color: #ffffff;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
}

#purchaseDropdown span .dropdown-content {
  padding: 10px 0;
  top: 348.172px !important;
}

#billingDropdown span .dropdown-content {
  padding: 10px 0;
  top: 447px !important;
}

.creditOptionsDropdown span .dropdown-content li > a {
  padding: 5px 10px;
  line-height: normal;
}

.creditOptionsAngleIcon {
  height: inherit;
  line-height: normal;
}

.billingDates {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-between;;
  -webkit-justify-content: space-between;
}

.billingDates > div {
  width: 47.5%;
}

#billingModalForm div > input[type=text], #billingModalForm > input[type=text],#billingModalForm div> input[type=email],#billingModalForm div> input[type=password],#billingModalForm div> input[type=tel] {
  text-indent: 5px;
  padding: 10px 0;
  margin: 5px 0;
  border-color: #36b7ea;
  width: 100%;
}

.cardNumber {
  color: #36b7ea;
}

.billingClosedPagination {
  color: #36b7ea;
  margin: 20px 3px 0 3px;

}
.modalTitle{
  font-weight: 200;
}
.modalIcon{
  width: 70%;
}
.modalIcon.smallerIcon{
  width: 50%;
}
.billingOpenPagination {
  color: #ececec;
  margin: 20px 3px 0 3px;
}
@media screen and (max-width:800px){
  .smallModal{
      margin: 0;
      width: 75%;
  }
  .modal {
    max-height: none;
    width: 80%;
  }
}
#billingModal #billingModalForm{
  width: 100% !important;
  text-align: center !important;
  margin-left: 0 !important;
}
#billingModal #billingModalForm .cardSave{
  margin-left: 0;
}