#action-bar {
  padding: 17px 20px;
  line-height: normal;
}

#results-table-count > a {
  font-size: 12px;
  padding: 5px;
}

.right-actions {
  padding: 0 15px;
  line-height: normal;
}

.right-actions span > a, .right-actions > a {
  background-color: #36b7ea;
  color: #ffffff;
  padding: 5px 15px;
  font-size: 12px;
}

#list-adder-dropdown span .dropdown-content {
  width: 200px !important;
  top: 44px !important;
  left: 294px !important;
  padding: 10px 0;
}

#list-adder-dropdown span .dropdown-content li > a {
  padding: 5px 10px;
  line-height: normal;
}

#list-adder-dropdown {
  line-height: normal;
}

#list-adder-angle-icon {
  height: inherit;
  line-height: normal;
}
