.newCampaignBtn{
	margin-top: 1em;
	font-size: .8em;
	text-align: center;
}
.cadenceMenu{
	height: 80vh;
	min-height: 560px;
	padding: 30px 25px;
	text-align: center;
}
.cadenceToggleContainer{
	padding: 0 15px;
}
.cadenceToggle{
	font-size: .9em;
	margin: 0 15px;
}
.cadenceToggle:hover{
	color: #36b7ea !important;
	cursor: pointer;
}
.campaignListing{
	padding: 10px;
	padding-bottom: 5px;
    font-size: 0.8em;
    border-bottom: 1px solid #ececec;
}
.campaignListing:hover{
	background-color: #f8f8f8;
	cursor: pointer;
}
.newBtnBuffer{
	position: relative;
    top: 1em;
}
.campaignListing>div>span{
	float: right;
}
.campaignListing>div>span:hover{
	color: #fb615d;
	cursor: pointer;
}
.running{
	color: #36b7ea !important;
}
.incomplete{
	color: #fb615d !important;
}
.paused{
	color: #647382 !important;
}
.stats{
	padding-top: 5px;
}
.stats>span{
}
.stats>img{
    margin-right: 17px;
    position: relative;
    top: 5px;
    width: 18px;
}
.delete{
    position: relative;
    top: -3em;
    float: right;
}
.delete:hover{
	color: #fb615d;
	cursor: pointer;
}
.clickImg{
	width: 16px !important;
    top: 4px !important;
}
.pauseBtn{
    display: inline-flex;
    padding: 6px 6px;
    font-size: .8em;
}
.topCampaignBtns{
	float: right;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.saveCampaignBtn{
	font-size: 0.7em;
    margin-left: .5em;
    color: #fff;
    padding: 5px 10px;
}
.campaignEditorCard{
	height: 100%;
	min-height: 560px;
}
.activityAction{
	font-size: .9em;
}
.emptyCampaignView{
	width: 15em;
    margin-top: 3em;
}
.emptyCampaignText{
	text-align: center;
    font-size: 1.5em;
    margin: 0 1em;
    padding: 1em 4em;
    font-weight: 200;
}
.activeCampaignName{
	padding:5px;
	display: inline-block;
}
.tempGen{
	padding: 3em;
	margin: 2em 0;
}
.chooseTemplate{
	width: 48%;
    display: block;
    margin-left: 7.2em;
    margin-top: .5em;
}
.chooseTemplate .select-dropdown, .chooseTemplate .select-wrapper input.select-dropdown{
	padding: .3em .5em;
}
.templateHolder{
	margin-top:2em;
}
.workingTemplate{
	padding:.5em;
	margin:2em 0;
}
.workingRow{
	padding: .5em 1em;
    font-size: .7em;
}
.templateNameContainer{
	font-size: .7em;
    width: 50%;
}
.working.chooseTemplate{
	width: 28%;
    margin-left: 0;
    float: right;
    margin-top: 0;
}
.working.chooseTemplate .select-dropdown, .working .chooseTemplate .select-wrapper input.select-dropdown{
	padding: 0.3em 0.5em;
    font-size: 9px;
}
.working.chooseTemplate.pTags{
    margin-left: .5em;
    display: inline-block;
    max-height: 23px;
    float:none;
}
input[name=newTemplateName],
input[name=newSubjectName]{
	font-size: 1.8em;
    border: none;
    padding: .5em;
    width: 100%;
    outline:none;
}
input[name=newTemplateName]:focus,
input[name=newTemplateName]:focus:not([readonly]),
input[name=newSubjectName]:focus,
input[name=newSubjectName]:focus:not([readonly]){
	border: none;
    box-shadow: none;
    outline: none;
}
.workingRow.bottomRow{
	padding-left:0;
}
.saveTempTemp{
	font-size: 1em;
    margin: 0;
    display: inline-block;
}
.clearBtn{
	display: inline-flex;
	display: -webkit-inline-flex;
    padding: .27em 1em;
    font-size: 1em;
    margin-left: 1em;
}
.sendTestEmail{
	font-size: 1.2em;
    position: relative;
    top: .5em;
}
.editableText{
	margin: 0px;
  height: 198px;
  width: 491px;
  border: none;
  resize: none;
  outline: none;
  font-size: 1em;
	overflow: scroll;
	padding: .5em 1em;

}

.tempIcon {
	margin: 0 1em;
	cursor: pointer;
}

.custom-theme.fr-toolbar {
	border-top: 5px solid #36b7ea !important;
}

.custom-theme.fr-toolbar .fr-command.fr-btn {
 	color: #647382 !important;
}
.inlineFlex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}
.preText{
	display: inline-table;
    margin-right: 1em;
}
.datePicker{
	width: 29% !important;
    margin-right: 1em !important;
}
.advancedSettingsBtn{
	margin-top: 1em;
}




















