#map-bar .left, #contacts-bar .left {
  font-size: 2em;
  margin: 9px 30px;
  font-weight: 100;
}

#map-bar .right, #contacts-bar .right {
  margin: 16px;
}

#map-bar .right li, #contacts-bar .right li {
  padding: 0;
  line-height: 30px;
  font-size: 12px;
}

#map-bar .right li a, #contacts-bar .right li .contact-upload {
  background-color: #36b7ea;
  color: #ffffff;
  padding: 0 10px;
  margin: 0px;
}

#contacts-bar .right li a, #contacts-bar .right li span .dropdown-button {
  font-size: 12px;
}

#contacts-list-selector {
  height: 32px;
}

#contacts-list-main-selector {
  height: 30px;
  font-size: 0.8em;
  min-width: 215px;
}

#contacts-bar .left li div {
  line-height: 30px;
}

#contacts-search {
  margin: 9px;
  border: 1px solid;
  width: 200%;
  font-size: 12px;
  line-height: normal;
}
.contactsBtn>div{
  padding:0 15px;
}
nav ul a:hover {
  background-color: transparent; !important;
}
li#upload-file-name {
    font-size: 0.6em;
}
a.contact-upload {
    font-size: 1em;
}
#contacts-list-main-selector span .dropdown-content li{
  padding:10px;
}
#contacts-list-main-selector span .dropdown-content li > a {
  padding: 5px 10px;
  line-height: normal;
}
#contacts-list-main-selector span .dropdown-content{
  width: 200px !important;
  top: 44px !important;
  padding: 10px 0;
  max-height: 50vh !important;
}