@import url("./forms.css");
@import url("./profile.css");
@import url("./table.css");
@import url("./color.css");
@import url("./grid.css");

/* COMPONENTS */
@import url("./search/actionBar.css");
@import url("./search/modal.css");
@import url("./profile.css");
@import url("./landing.css");
@import url("./nav.css");
@import url("./settings.css");
@import url("./contacts.css");

@import url("../vendors/cube-grid.css");


h1,h2,h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2em;
}
h4,h5,h6{
  font-size: 1em;
  font-family: "Lato";
  font-weight: 300;
}
hr{
  opacity: .3;
}
a{
  color: #36b7ea;
}
body {
  font-family: 'Open Sans', sans-serif;
}
strong{
  font-weight: 700 !important;
}
.text-center{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}
.text-right{
  text-align: right !important;
}
.page-container {
  margin-top: 2em;
}

.small-border {
  border: 1px solid;
}

.small-left-border {
  border-left: 1px solid;
}

.small-top-border {
  border-top: 1px solid;
}
.small-bottom-border {
  border-bottom: 1px solid;
}

.small-right-border {
  border-right: 1px solid;
}

.medium-border {
  border: 2px solid;
}

.medium-left-border {
  border-left: 2px solid;
}

.medium-top-border {
  border-top: 2px solid;
}
.medium-bottom-border {
  border-bottom: 2px solid;
}

.medium-right-border {
  border-right: 2px solid;
}
.inline-block{
  display: inline-block;
}
