h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.page-container {
  margin-top: 2em;
}

#credit-dropdown span .dropdown-content {
  width: 200px !important;
  top: 42px !important;
  left: 1000px !important;
  padding: 10px 0;
}

#credit-dropdown span .dropdown-content li > a {
  padding: 5px 10px;
}

.credit-button {
  float: right;
  border-radius: 0;
  font-size: 10px;
  padding: 0px 20px;
  border: none;
  font-weight: 100;
}

#credit-dropdown {
  line-height: 15px;
  margin-right: 40px;
}

#credit-angle-icon {
  height: 0;
}

#buy-more {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  font-size: 10px;
  right: -50px;
  font-weight: 100;
}

.small-border {
  border: 1px solid;
}

.small-left-border {
  border-left: 1px solid;
}

.small-top-border {
  border-top: 1px solid;
}
.small-bottom-border {
  border-bottom: 1px solid;
}

.small-right-border {
  border-right: 1px solid;
}

.medium-border {
  border: 2px solid;
}

.medium-left-border {
  border-left: 2px solid;
}

.medium-top-border {
  border-top: 2px solid;
}
.medium-bottom-border {
  border-bottom: 2px solid;
}

.medium-right-border {
  border-right: 2px solid;
}
