#map-bar .left {
  font-size: 2em;
  margin: 9px 30px;
  font-weight: 100;
}

#map-bar .right {
  margin: 16px;
}

#map-bar .right li {
  padding: 0;
  line-height: 30px;
}

#map-bar .right li a {
  background-color: #36b7ea;
  color: #ffffff;
  padding: 0 10px;
  margin: 0px;
  font-size: 12px;
}
