.table-head-styles {
  padding: 10px 10px;
  font-size: 0.9em;
}

.table-row-styles {
  margin: 0;
}

.table-content-styles {
  margin: 10px 10px;
  font-size: 12px;
}

.table-selector div label {
  height: 18px;
  line-height: 18px;
  left: 20px;
}
